@using Microsoft.AspNetCore.Http;

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<h3>Add Blog Post</h3>
<form asp-controller="Home" asp-action="AddBlogPost" method="post">
    <table>
        <tr>
            <td>Title</td>
            <td><input name="BlogTitle" required /></td>
        </tr>
        <tr>
            <td>Content</td>
            <td><textarea name="BlogContent" rows="10" cols="50" required /></td>
        </tr>
    </table>
    <input type="submit" value="Submit Post" />
</form>