@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";

}
<h3>Login</h3>
<form asp-controller="Home" asp-action="Login" method="post">
    <table>
        <tr>
            <td>Email Address</td>
            <td><input type="email" name="EmailAddress" required /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="Password" required /></td>
        </tr>
    </table>
    <input type="submit" value="Login" />
</form>